/target
/lib
/classes
/checkouts
/js
pom.xml
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-classpath
.lein-repl-history
/.repl
/lein-error/target
/lein-error/pom.xml.asc
/pom.xml.asc
